<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="leagues_container">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">MFam's League</h5>
      <small>4,386 Members</small>
    </div>
    <p class="mb-1">Current competition(s): Most RPG kills in 1 game, Longest snipe in 1 game, Most kills in 1 game</p>
    <small>Public</small>
    </div>
  </a>

  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">100 Thieves Sniping</h5>
      <small class="text-muted">11,715 Members</small>
    </div>
    <p class="mb-1">Current competition(s): Most sniper kills in 1 game</p>
    <small class="text-muted">Private</small>
  </a>

  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">These Knives Only</h5>
      <small class="text-muted">514 Members</small>
    </div>
    <p class="mb-1">Current competition(s): Most assassinations in 1 game</p>
    <small class="text-muted">Public</small>
  </a>

</div>
