<head>
    <title>Leagues</title>
</head>

<div class="container mt-4">
    <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card mb-4" style="min-width: 18rem; max-width: 18rem; min-height: 18rem; max-height: 18rem;">
                <img class="card-img-top" src="https://www.techadvisor.com/cmsdata/features/3783623/cod_warzone_logo_thumb800.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Warzone</h5>
                        <a href="/warzone" class="btn btn-primary">See Leagues</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="card mb-4" style="min-width: 18rem; max-width: 18rem; min-height: 18rem; max-height: 18rem;">
                <img class="card-img-top" src="https://www.runescape.com/img/rsp777/social-share-fb.jpg?1" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">OldSchool RuneScape</h5>
                        <a href="#" class="btn btn-primary">See Leagues</a>
                    </div>      
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="card mb-4" style="min-width: 18rem; max-width: 18rem; min-height: 18rem; max-height: 18rem;">
                <img class="card-img-top" src="https://cdn2.unrealengine.com/battle-pass-chapter-2-season-6-1920x1080-dc8eb73dc494.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Fortnite</h5>
                        <a href="#" class="btn btn-primary">See Leagues</a>
                    </div>      
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="card mb-4" style="min-width: 18rem; max-width: 18rem; min-height: 18rem; max-height: 18rem;">
                <img class="card-img-top" src="http://media.steampowered.com/apps/csgo/blog/images/fb_image.png?v=6" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">CSGO</h5>
                        <a href="#" class="btn btn-primary">See Leagues</a>
                    </div>      
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="card mb-4" style="min-width: 18rem; max-width: 18rem; min-height: 18rem; max-height: 18rem;">
                <img class="card-img-top" src="https://static0.gamerantimages.com/wordpress/wp-content/uploads/2020/07/valorant-logo-characters-red-pink-PC.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Valorant</h5>
                        <a href="#" class="btn btn-primary">See Leagues</a>
                    </div>      
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="card mb-4" style="min-width: 18rem; max-width: 18rem; min-height: 18rem; max-height: 18rem;">
                <img class="card-img-top" src="https://d2e111jq13me73.cloudfront.net/sites/default/files/styles/amp_blog_image_large/public/blog/csm-blog/parentsultimateguide-minecraft-blog.jpg?itok=2beDaNo7" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Minecraft</h5>
                        <a href="#" class="btn btn-primary">See Leagues</a>
                    </div>      
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="card mb-4" style="min-width: 18rem; max-width: 18rem; min-height: 18rem; max-height: 18rem;">
                <img class="card-img-top" src="https://img.republicworld.com/republic-prod/stories/promolarge/xxhdpi/tlbdidek4znd7y1p_1590139655.jpeg?tr=w-758,h-433" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Grand Theft Auto V</h5>
                        <a href="#" class="btn btn-primary">See Leagues</a>
                    </div>      
                </div>
            </div>
    </div>
</div>
